<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UVM Bus Map</title>

    <!-- Leaflet map -->
    <link rel="stylesheet" href="../static/leaflet/leaflet.css" />
    <script src="../static/leaflet/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    
    <!-- Leaflet Routing Machine -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="../static/leaflet-routing-machine-3.2.12/dist/leaflet-routing-machine.css" />

    <!-- Map stype (move to css file) -->
    <style>
        #map { height: 700px; }
    </style>
</head>

<body>

<script src="/static/map.js"></script>
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="../static/leaflet-routing-machine-3.2.12/dist/leaflet-routing-machine.js"></script>
<div id="map">
    <script>

    // Map of Burlington area
    var map = L.map('map').setView([44.475752, -73.196282], 13);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    // Custom icons
    var bus1 = L.icon({
        iconUrl: '../static/images/gmtbus.png',
        // shadowUrl: '../static/bus1.png',

        iconSize:     [18, 20], // size of the icon
        shadowSize:   [50, 64], // size of the shadow
        iconAnchor:   [0, 20], // point of the icon which will correspond to marker's location
        shadowAnchor: [4, 62],  // the same for the shadow
        popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
    });
    var busStop = L.icon({
        iconUrl: '../static/images/redcircle2.png',
        // shadowUrl: '../static/bus1.png',

        iconSize:     [10, 10], // size of the icon
        shadowSize:   [50, 64], // size of the shadow
        iconAnchor:   [0, 10], // point of the icon which will correspond to marker's location
        shadowAnchor: [4, 62],  // the same for the shadow
        popupAnchor:  [0, 0] // point from which the popup should open relative to the iconAnchor
    });
    var busStop2 = L.icon({
        iconUrl: '../static/images/bluecircle.png',
        // shadowUrl: '../static/bus1.png',

        iconSize:     [10, 10], // size of the icon
        shadowSize:   [50, 64], // size of the shadow
        iconAnchor:   [0, 10], // point of the icon which will correspond to marker's location
        shadowAnchor: [4, 62],  // the same for the shadow
        popupAnchor:  [0, 0] // point from which the popup should open relative to the iconAnchor
    });
    // Add icon to map
    var marker = L.marker([44.475752, -73.196282], {icon: bus1}).addTo(map);
	// var marker = L.marker([map.getCenter()], {icon: bus1}).addTo(map);

    // Icon class
    // var busIcon = L.Icon.extend({
    // options: {
    //     iconSize:     [38, 95],
    //     shadowSize:   [50, 64],
    //     iconAnchor:   [22, 94],
    //     shadowAnchor: [4, 62],
    //     popupAnchor:  [-3, -76]
    // }
    // });
    function setBusPosition(id, latitude, longitude)
    {
        if(marker != undefined)
        {
            map.removeLayer(marker);
        }
        marker = L.marker([latitude, longitude], {icon: bus1}).addTo(map);
		// const latlang = new L.LatLnd(latitude, longitude);
		// marker.setLatLng(latlang);
        // console.log(latitude)
    }
    // Creating instances of the icons
    // var bus1 = new LeafIcon({iconUrl: 'image1.png'}),
    //     bus2 = new LeafIcon({iconUrl: 'image2.png'}),
    //     bus3 = new LeafIcon({iconUrl: 'image3.png'});
    //     L.marker([51.5, -0.09], {icon: bus1}).addTo(map);
    // L.marker([51.495, -0.083], {icon: bus2}).addTo(map);
    // L.marker([51.49, -0.1], {icon: bus3}).addTo(map);

    // Routing code
    // var map = L.map('map');

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);
    function setBusRoutes(route_data)
    {
        
        var route1 = "19137"
        var route2 = "19139"
        var waypoints1 = []
        var waypoints2 = []
        for(stop of route_data[route1])
        {
            waypoints1.push(L.latLng(stop['coordinates'][0],stop['coordinates'][1]))
            console.log(stop['stop_name'])
        }
        
        L.Routing.control({
        show:false,
        waypoints: waypoints1,
        lineOptions: {
            styles: [{color: 'red', opacity: 1, weight: 2}]},
        createMarker: function(i, wp, nWps) {
            return L.marker(wp.latLng, {icon: busStop });
        },
        routeWhileDragging: true
        }).addTo(map);

        for(stop of route_data[route2])
        {
            waypoints2.push(L.latLng(stop['coordinates'][0],stop['coordinates'][1]))
            console.log(stop['stop_name'])
        }
        L.Routing.control({
        show:false,
        waypoints: waypoints2,
        lineOptions: {
            styles: [{color: 'blue', opacity: 1, weight: 2}]},
        createMarker: function(i, wp, nWps) {
            return L.marker(wp.latLng, {icon: busStop2 });
        },
        routeWhileDragging: true
        }).addTo(map);

    }
    // // Creating routes
    // L.Routing.control({
    //     show:false,
    //     waypoints: [
    //         L.latLng(44.480074771,-73.214345589),
    //         L.latLng(44.479731, -73.214298),
    //         L.latLng(44.493028716,-73.175863613)
    //     ],
    //     createMarker: function(i, wp, nWps) {
    //         return L.marker(wp.latLng, {icon: busStop });
    //     },
    //     routeWhileDragging: true
    // }).addTo(map);

    // L.Routing.control({
    //     show:false,
    //     waypoints: [
    //         L.latLng(44.275752, -73.196282),
    //         L.latLng(44.475752, -73.196282)
    //     ],
    //     routeWhileDragging: true
    // }).addTo(map);
    
    </script>
    


</div>

</body>
</html>

